# .gitignore

# Python cache_service files
__pycache__/
*.pyc
*.pyo
*.pyd

# Logs
logs/
*.log

# Environment files
.env
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# Jupyter Notebook
.ipynb_checkpoints

# Visual Studio Code
.vscode/

# PyCharm
.idea/

# MacOS
.DS_Store

# SQLite databases
*.db
*.sqlite3

# Uvicorn logs
*.log
